body {
    background-color: #f0d040;
}

.textButton {
    background-color: #50f050;
    margin-right: 5px;
}

/* Introduction */
#introDiv {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-bottom: 15px;
    text-align: center;
    background-color: rgba(150, 150, 50, 0.9);
    z-index: 5;
}

#introDiv p {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 6px;
}

/* Menu / Title Bar */

#menuTable {
    width: 100%;
    background-color: bisque;
}

#menuLogoCell {
    width: 64px;
}

#menuTitleCell {
    width: calc(75% - 32px);
}

#menuOptionsCell {
    width: calc(25% - 32px);
    text-align: right;
    padding: 4px;
}

.menuBtn {
    background-color: #50f050;
}

/* Layout */
.row {
    display: flex;
    justify-content: center;
    gap: 0;
}

.col {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0;
}

/* Main Board */
#boardDiv {
    width: 360px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: #909040;
    text-align: center;
}

#board {
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
    background-image: url("../../assets/gridBackground.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#board td {
    width: 18px;
    height: 18px;
    padding-left: 2px;
    border: 1px solid #101010;
    border-radius: 6px;
    background-color: rgba(0,0,0,0);
}

.boardLetterDiv {
    margin: 0;
    width: 14px;
    height: 14px;
    font-size: 13px;
    font-weight: bold;
}

.boardTileBlack {
    background-color: black;
    border-left: 1px solid #606060;
    border-bottom: 1px solid #606060;
    color: white;
}

.boardTileBlue {
    background-color: #40e0f0;
    border-left: 1px solid #101010;
    border-bottom: 1px solid #101010;
    color: black; 
}

/* Information Panel */
#infoDiv {
    width: 380px;
    padding-top: 8px;
    background-color: #a0a040;
}

/* Rack Section */
#rackPlayDiv {
    display: block;
    width: calc(100% - 8px);
    background-color:bisque;
    margin-bottom: 8px;
    padding: 4px;
}

#rackTable {
    margin: 0 auto;
    border: 1px solid black;
    border-collapse: collapse;
}

#rackTable td {
    width: 20px;
    height: 20px;
    border-right: 1px solid black;
    padding: 2px;
    padding-left: 4px;
    background-color: #e0c040;
}

.rackLetterDiv {
    width: 16px;
    height: 16px;
    padding: 1px;
    vertical-align: top;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    background-color: #40e0f0;
}

/* Game Over Panel */
#gameEndDiv {
    display: none;
    text-align: center;
}

#gameEndDiv h2 {
    font-size: 18px;
    margin-bottom: 3px;
}

#gameEndDiv p {
    margin-bottom: 3px;
}

#scoreTable {
    margin: 0 auto;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: left;
}

.num {
    text-align: right;
}

/* Game Play Options */
#gamePlayOptionsDiv {
    display: none;
    text-align: center;
}

#gamePlayOptionsDiv h2 {
    font-size: 16px;
}

/* Play Options */
#playOptionsDiv {
    display: block;
    margin-bottom: 8px;
    width: calc(100% - 8px);
    padding: 4px;
    text-align: center;
    background-color: bisque;
}

.opt {
    margin-top: 4px;
}

/* Score Panel */
#scoresDiv {
    display: none;
    text-align: center;
}

/* Star Letter Selector */
#starLetterDiv {
    display: none;
    text-align: center;
}

#starLetterTable {
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid black;
}

#starLetterTable td {
    width: 17px;
    height: 17px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
    padding: 1px;
    font-size: 16px;
    font-weight: bold;
}

#statusDiv {
    width: 100%;
    display: none;
    text-align: center;
    font-style: italic;
    color: #700000;
}


@media screen and (max-width: 800px) {
    #introDiv p {
        width: 85%;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 400px) {
    #boardDiv {
        padding-left: 0;
        padding-right: 0;
    }
}